@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: #f2f2f2;
}

/* @media screen and (width < 376) {
  .img {

   background-image: url(/public/assets/mobile/bg-pattern-header.svg); 
  }
  
  
} */